@use "./utils/variables" as v;

#tickets {
  width: 100%;
  height: 90vh;

  .steps-content {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    //margin-top: 0 !important;
    display: grid;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .formBtns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .nextBtn,
    .prevBtn {
      background-color: transparent;
      border: 2px solid v.$color-purple-normal;
      height: max-content;
      color: white;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      
      &:hover {
        border: 2px solid v.$color-purple-light;
        color: v.$color-white-normal;
        background-color: v.$color-purple-light;
      }
    }
  }
}

.ticketTypeComp {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  z-index: 0;
  grid-area: 2/1;
  background: rgba(14, 8, 38, 0.8);
  padding: 20px;
  border-radius: 10px;
  .formBtns {
    grid-column: 1/3;
    justify-content: end !important;
  }
}
.ticketInfoListComp {
    display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  transition: 0.3s;
  z-index: 1;
  grid-area: 2/1;
  background: rgba(14, 8, 38, 0.8);
  padding: 20px;
  border-radius: 10px;
  &::-webkit-scrollbar {
    display: none;
  }
   .formBtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
    background: #191333;
    margin-top: 16px;
    border-radius: 5px;
  } 
}
.campingAreaComp {
    display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  z-index: 2;
  grid-area: 2/1;
  background: rgba(14, 8, 38, 0.8);
  padding: 20px;
  border-radius: 10px;
  
  .campContainer{
    //align-items: center;
    label{
      display: flex;
      align-items: center;
    }
    .avail-box{
    padding: 6px;
    input{
      //width: 35 !important;
      margin: auto;
    }
  }
  }
  

}
.optionalsComp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  z-index: 3;
  grid-area: 2/1;
  background: rgba(14, 8, 38, 0.8);
  padding: 20px;
  border-radius: 10px;
  .optionals-wrapper{
    input{
      width: 50% !important;
      margin: auto;
    }
  }
    .formBtns{
      width: 100%;
    display: flex;
    grid-column: 1/3;
    justify-content: space-between;
    }
}

.paymentComp {
    display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;
  z-index: 4;
  grid-area: 2/1;
  background: rgba(14, 8, 38, 0.8);
  padding: 20px;
  border-radius: 10px;
  .formBtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: #191333;
    //margin-top: 16px;
    border-radius: 5px;
  } 
}


// stepTracker

.steptracks{
  grid-area: 1/1;
  margin-top: 50px;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  div{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}




// Animations

.sendToback1 {
  transform: scale(0.8);
  filter: opacity(0.8);
  filter: blur(3px);

  pointer-events: none;
}
.sendToback2 {
  transform: scale(0.7);
  filter: opacity(0.7);
  filter: blur(3px);
  pointer-events: none;
}
.sendToback3 {
  transform: scale(0.6);
  filter: opacity(0.6);
  filter: blur(3px);
  pointer-events: none;
}
.sendToback4 {
  transform: scale(0.5);
  transform: translate();
  filter: opacity(0.5);
  filter: blur(3px);
  pointer-events: none;
}
.currentSlide {
}
.nextSlide {
  transform: translateX(100%);
}

.currentStep{
  background-color: #9400f6 !important;
  color: white;
}
.lastStep{
  background-color: #04011a !important;
  color: white;
  border: 1px solid #9400f6;
}